@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(110,110,110);
  background: linear-gradient(0deg, rgba(110,110,110,1) 0%, rgba(40, 202, 189,1) 61%, rgb(40, 202, 189) 100%);
}

.rmd {
  font-family: 'Cinzel', serif;
}

.br {
  margin-top: 2px;
}